


#page{max-width: 1900px; margin: 0 auto; position: relative;}

header{height: 600px; background: green url(../images/3.jpg) no-repeat center bottom; position: relative;}


/* section all */  

section {padding: 0 30px;}
section::after{content:''; display: block; clear: both;}

/* section  */

section { margin-top: 20px; margin-bottom: 30px; padding: 0; }
section aside {width: 25%; float: left; text-align: center;}
#mainsectionhead{text-align: center;font-size: 50px; padding-bottom: 50px;}

section  .content a {text-decoration: none; color: black;}
section .content a:visited {color: black;}
section .content a:hover {color: black;}

section  .content { margin: 15px; background-size:  150px;   }



section  .content  .pies{

	border-radius: 10px;
	width: 200px;
}